h1 {
    font-weight: bold;
    text-align: center;
}

#face {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    margin: auto;
    display: block;
}

.wrapper {
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.space {
    margin-left: 20px;
}