.wrapper {
    width: 908px;
    margin: 20px auto auto auto;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header span {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #5e696d;
    letter-spacing: 0.025em;
}

header span:first-child {
    position: relative;
    padding-left: 24px;
    margin-right: 10px;
}

header span:first-child:before,
header span:first-child:after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #0d4362, #1b627e);
}

header span:first-child:after {
    background: url("../img/handsetUntitled-1.png") no-repeat center;
}

header form {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 495px;
    box-sizing: border-box;
    padding: 3px 10px 4px 7px;
    margin-left: 12px;
    background: linear-gradient(to bottom, #0d4362, #1b627e);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px #636e70;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;

}

header form:before {
    content: "";
    width: 13px;
    height: 18px;
    margin-right: 3px;
    background: url("../img/humanIcon.png") no-repeat center;
}

header form:after {
    content: "";
    width: 1px;
    height: 10px;
    order: 2;
    margin: 0 5px;
    background-color: #ffffff;
}

header form input[type="text"] {
    width: 114px;
    height: 16px;
    border-radius: 1px;
    border: none;
    padding: 6px;
    box-sizing: border-box;
}

header form input:first-child {
    margin-right: 8px;
}

header form input[type="submit"],
header form input[type="submit"]:focus {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-left: 5px;
    order: 1;
}

header form a,
header form input[type="submit"] {
    font-size: 11px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #fff;
}

header form a {
    order: 3;
}

header form a:nth-of-type(1) {
    text-decoration: none;
    margin-right: 18px;
}

header form a:nth-of-type(2) {
    text-decoration: none;
    border-bottom: solid 1px;
    box-sizing: border-box;
    margin-top: 2px;
    letter-spacing: 0.05em;
    color: #9ea8a5;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 20px;
    border: 1px solid #9ea8a5;
    border-radius: 10px;
    box-shadow: 2px 3px 3px -2px #9ea8a5;
    margin-left: 18px;
}

header nav a {
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    margin: 0 auto;
}

header nav a:nth-child(1) {
    width: 10px;
    height: 9px;
    background-image: url("../img/home.png");
}

header nav a:nth-child(2) {
    width: 13px;
    height: 9px;
    background-image: url("../img/mapIcon.png");
}

header nav a:nth-child(3) {
    width: 13px;
    height: 9px;
    background-image: url("../img/mailTo.png");
}

/*nav panel*/

nav.mainNav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background: linear-gradient(to bottom, #535e67 10%, #071212 60%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 #313534;
    padding: 3px 12px 3px 125px;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", sans-serif;
}

nav.mainNav ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.mainNav ul li:hover {
    border-radius: 20px;
    background: linear-gradient(to bottom, #0d4362, #1b627e);
}

nav.mainNav ul li a {
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

div.purchase {
    display: inline-flex;
    align-items: center;
}

div.purchase a {
    display: inline-block;
    width: 21px;
    height: 17px;
    background-image: url("../img/cart.png");
}

div.purchase span {
    color: #fff;
    font-size: 11px;
    margin: 0 1px;
}

div.purchase span[id] {
    color: #0d4362;
}

div.searchPanel {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

div.searchPanel > div {
    padding: 0 18px 10px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 5px 5px 5px 0 rgba(58, 113, 108, 0.57);
    box-sizing: border-box;
}

div.searchByCar > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

div.searchPanel > div > div:first-child {
    margin: 0 0 10px 0;
}

.searchByCar {
    width: 410px;

}

div.searchPanel div > div h4,
div.searchPanel div > div h3 {
    margin: 0;
    color: #124e6d;
}

.searchPanel input[type="submit"] {
    border: none;
    background: none;
    border-bottom: 2px solid;
}

div.searchByCar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.searchByCar div.fieldset {
    display: flex;
    flex: 1 0 calc(50% - 30px); /*minus margin-right*/
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.searchByCar div.fieldset:first-child {
    margin-right: 30px;
}

.searchByCar div.fieldset div:first-child {
    display: flex;
    flex-wrap: wrap;
}

.searchByCar div.fieldset div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1 0 120px;
}

.searchByCar div.fieldset label span {
    display: inline-block;
}

.searchByCar label:first-child span:first-child {
    margin-right: 1px;
}

.searchByCar label span:last-child {
    color: #77858b;
}

div.fieldset select {
    width: 100%;
    color: #124e6d;
    margin-bottom: 4px;
}

.searchByTyres {
    width: 190px;
}

.searchByTyres form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.searchByTyres form select {
    width: 50px;
}

.searchByTyres form > div {
    display: flex;
    flex: 100%;
}

.searchByTyres form > div div {
    display: flex;
    flex-direction: column;
}

.searchByTyres form div div + select {
    margin: 4px 0;
}

.searchByTyres form div div:first-child {
    align-items: flex-end;
    margin-right: 10px;
}

.searchByTyres form div div:first-child label {
    margin-bottom: 7px;
}

.searchByTyres form > div div div {
    display: inline;
}

div.searchByDisc {
    width: 267px;
}

.searchByDisc form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.searchByDisc form div:first-child {
    display: flex;
    flex-wrap: wrap;
    flex: 70%;
}

.searchByDisc form div:first-child h4 {
    flex: 100%;
    margin: 0;
}

.searchByDisc form div:first-child div:first-child {
    display: flex;
    flex-direction: column;
    width: 70px;
    margin-right: 10px;
}

.searchByDisc form div:first-child div:nth-child(2) {

}

.searchByDisc form div:nth-child(2) {
    flex: 30%;
}

main {
    display: flex;
}

main section:nth-child(odd) {
    flex: 1 0 calc(25% - 8px); /*minus margin of :nth-child(2)*/
}

main section:nth-child(2) {
    flex: 1 0 50%;
    margin: 0 8px;
}

/*blue Icon*/
.blueIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 28px;
    min-height: 28px;
    position: relative;
}

.blueIcon:before,
.blueIcon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #0d4362, #1b627e);
    margin: 4px 0 0 4px;
}

/*next selectors switches inner image for particular :after*/
main section > div:nth-of-type(1):after {
    background: url("../img/fileIcon.png") no-repeat center;
}

div[class*="blueIcon"]:after {
    background: url("../img/circleIcon.png") no-repeat center;
}

/*blue Icon*/

.bluishHeaders {
    color: #144f6c;
    border: 1px solid #144f6c;;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgb(158, 158, 158);
    text-transform: uppercase;
}

main section:nth-of-type(odd) > div:first-child {
    margin-bottom: 14px;
}

main section:first-child div:nth-of-type(2),
main section:first-child div:nth-of-type(3),
main section:first-child div:nth-of-type(4) {
    width: 150px;
}

main section ul {
    list-style-type: circle;
    color: #144f6c;
}

main section li {
    margin-bottom: 10px;
}

main section a {
    color: #144f6c;
}

main section li:hover a,
main section li:hover ul {
    font-weight: bold;
}

section div.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom, #e4e8e3 25%, #94acab 100%);
}

.tyreItem {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    flex: 1 0 calc(33% - 20px);
}

div.tyreItem div {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #a7b1b4;
}

.tyreItem h3 {
    margin: 0;
    color: #2e6f8c;
}

.tyreItem img {
    margin: auto;
}

.tyreItem span {
    font-size: 12px;
}

.tyreItem span:last-child {
    color: #114165;
    font-weight: bold;
    font-size: 14px;
}

main section:nth-of-type(3) ul {
    list-style-type: none;
    margin-bottom: 0;
}

main button {
    border-radius: 20px;
    background: linear-gradient(to bottom, #206a83 0%, #0d4262 100%);
    color: #fff;
    box-shadow: 1px 1px #9E9E9E;
    padding: 7px 14px;
}

main section:nth-of-type(3) form {
    margin: 0 25px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section:nth-of-type(3) form * {
    flex: 100%;
}

main section:nth-of-type(3) form button {
    flex: initial;
}

main section:nth-of-type(3) form input {
    margin-right: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer div img {
    width: 100%;
}

footer div {
    flex: 100%;
}

footer div:nth-of-type(2) {
    min-height: 100px;
    background-color: #0d4262;
    text-align: center;
}

footer ul {
    display: flex;
    flex: 50%;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

footer span {
    flex: 50%;
    text-align: center;
    color: #7e4d49;
    font-size: 10px;
}

footer div li {
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

footer div li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

footer div li a:hover {
    color: #55b0c4;
}

footer div li:nth-of-type(1):after,
footer div li:nth-of-type(2):after,
footer div li:nth-of-type(3):after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #FFF;
    right: -4px;
    top: 2px;
}




