body {
    background-color: #f9f9f9;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    position: relative;
    width: 1060px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: -23px 0 20px -23px rgb(226, 228, 222),
    23px 0 20px -23px rgb(226, 228, 222);

}

div#navBar {
    height: 48px;
    background-color: #5a5d5f;
}

#navBar ul,
footer ul {
    padding: 0;
    margin: 0;
}

#navBar li {
    display: inline-block;
    height: 18px;
    width: 11%;
    padding: 15px;
    color: #ffffff;
}

#navBar li:hover {
    background-color: #434748;
}

#main:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    margin-bottom: 120px;
    clear: both;
}

#sideBar {
    float: left;
    padding-top: 50px;
    width: 240px;
}

#sideBar tr:hover {
    background-color: rgba(247, 247, 245, 0.8);
}

table {
    border-collapse: collapse;
    width: 240px;
}

td {
    border: 1px solid #e2e4de;
    padding: 10px;
}

#content {
    float: right;
    margin-top: 50px;
    width: 678px;
}

#image {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e2e4de;
}

#text {
    font-family: 'Open Sans', sans-serif;
    margin: 40px 48px 0 48px;
    line-height: 21px;
    font-size: 13px;
}

footer {
    background-color: #e2e4de;
    position: absolute;
    bottom: 0;
    width: 960px;
    height: 50px;
    margin-bottom: 60px;
}

footer li {
    display: inline-block;
    height: 18px;
    width: 100px;
    padding: 15px;
    float: left;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    float: right;
    padding-right: 15px;
}