
body {
    display: flex;
    min-height: 100vh;
}

table {
    width: 800px;
    height: 800px;
    margin: auto;
    border-collapse: collapse;
}

td {

    border: 10px solid #000;

}

td {
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

td:last-child, th:last-child {
    border-right: none;
}

tr:nth-child(15) td:first-child,
tr:nth-child(17) td:first-child,
tr:nth-child(18) td {
    border-bottom: none;
}

tr:first-child td:last-child,
tr:nth-child(3) td:last-child,
tr:nth-child(15) td:first-child {
    background-color: #fdf37d;
}

tr:nth-child(3) td:nth-child(2) {
    background-color: #fc5b43;
}

tr:nth-child(13) td:first-child,
tr:nth-child(13) td:nth-child(2),
tr:nth-child(15) td:nth-child(2),
tr:nth-child(15) td:nth-child(3),
tr:nth-child(17) td:nth-child(2) {
    background-color: #24292c;
}

tr:nth-child(15) td:last-child {
    background-color: #004f83;
}